<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | strip_html }}</title>
  <link rel="stylesheet" href="{{ "/assets/slides.css" | relative_url }}">
  <link rel="icon" href="{{ "/images/favicon.ico" | relative_url }}">
  <link rel="icon" href="{{ "/images/favicon-16x16.png" | relative_url }}">
  <link rel="icon" href="{{ "/images/favicon-32x32.png" | relative_url }}">

</head>
<body>
    <textarea id="source" style="display:none;">
{{ content }}
    </textarea>
  <script src="{{ "assets/remark-latest.min.js" | relative_url }}"></script>
  <script>
    var slideshow = remark.create({
      ratio: '4:3',
      highlightStyle: 'github-gist',
      highlightLines: true,
      highlightSpans: false,
      navigation: {
        scroll: false,
      }
    });
  </script>
</body>

</html>